.row-fluid.next-button
  .span3
  = link_to 'Peaceful', '/posts/'+@post.to_param+'/vote_peace', class: %w(span2 btn btn-success btn-large)
  = link_to 'Neutral', '/posts/'+@post.to_param+'/vote_neutral', class: %w(span2 btn btn-info btn-large)
  = link_to 'Violent', '/posts/'+@post.to_param+'/vote_violent', class: %w(span2 btn btn-danger btn-large)

.row-fluid.post
  .span4
  .span4
    .well
      %h2
        = @post.body
